body {
    background-color: #000;
    color: #096A09;
}



.inputForm {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

td {
    text-align: center;
    border-bottom: solid;
    border-color: #096A09;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

main {
    display: flex;
    justify-content: space-around;

    height: 100vh;
}

.maincontent {
    width: 90%;
    border: solid;
    margin: 10px;
    padding: 20px;
    border-color: #096A09;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav>a {
    font-size: 2em;
    text-align: center;
    border: solid;
    border-color: #096A09;
    padding: 10px;
    width: 100%;
}

.bouton {
    background-color: #000;
    color: blueviolet;
    border: none;
}

.effects {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .maincontent {
        width: 70%;
        height: 100%;
        overflow: scroll;
    }
}